body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: white; 

.container {
    background-color: #447604; 
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}

.report {
    background-color: #F0F0F0; 
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    transition: transform 0.2s; /
}

.report:hover {
    transform: scale(1.02); 
}

.menu-button {
    background-color: #4CAF50; 
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    border: none; 
    cursor: pointer; 
    transition: background-color 0.3s; 
}

.menu-button:hover {
    background-color: #45a049; 
}

.arrow {
    font-size: 24px;
    color: white;
}
