* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #447604;
    color: #000;
}

.contenedor {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
}

h1 {
    text-align: center;
}

.contenido-principal {
    display: flex;
    background-color: #4C9A2A;
    padding: 20px;
    border-radius: 8px;
}

.caja1 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding-right: 20px;
}

.caja2 {
    width: 150px;
    height: 150px;
    background-color: #ccc;
    margin-bottom: 20px;
}

.menu {
    display: inline-block;
    padding: 10px 15px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

.formulario {
    flex: 2;
    padding-left: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 15px;
    font-size: 16px;
    background-color: #A4E5D9;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #93d6c8;
}